body { 
  font-family: 'Roboto', sans-serif; 
} 
.banner {
  height: 400px;
  background-color: #1f2937;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  
}
.navbar {
    display: flex;
    font-size: 18px;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .navbar div {
    height: 40px;
    flex: 1 1 0%;
  }
  
  /* only div.two is selected here */
  .navbar .one {
    flex: 4 1 0%;
    font-size: 24px;
    color: #F9FAF8;
  }
  .heromain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
  }
  .herosec {
    font-size: 18px;
    color: #E5E7EB;
  }
  .button {
    background-color : #3882F6;
    color: #F9FAF8;
  }
  .image{
    width: 280px;
    height: 190px;
  }
  .secondtop {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .secondtop div {
    
    height: 40px;
    flex: 1 1 0%;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
    font-size: 18px;
  }
  
  /* this selector selects all divs inside of .container */
  .container div {
    
    height: 40px;
    
  }
  img{
    height: 80px;
    width: 80px;
    
  }
  h2{
    text-align: center;
  }
  .quote{
    color: #1f2937;
    font-style: light italic;
    font-size: 36px;
  }
  .secondsec{
    height: 250px;
  }
  .header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }
  .quotesec{
    background-color: #E5E7EB;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .name{
    text-align: right;
    font-size: 24px;
    font-weight: 900;
  }
  .seccontainer{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color : #3882F6;
  }
  .side{
    padding-top: 40px;
    padding-left: 50px;
  }
  .fourth{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
  .last{
    text-align: center;
    background-color: #1f2937;
    height: 50px;
    padding-top: 10px;
    color: #E5E7EB;
  }